<main class="login-wrapper">
  <div class="background-image" [style.backgroundImage]="'url(' + backgroundImages[currentImageIndex] + ')'"
    [@backgroundFade]="'visible'">
  </div>

  <div class="login-card">
    <img [src]="logoUrl || 'assets/images/logo-yellow.png'" alt="Logo" class="signin-logo mb-3">
    <form class="validate-form" [formGroup]="authLogin" (ngSubmit)="loginSubmitted()">
      <div class="login-input-group">

        <input id="email" type="email" formControlName="email" placeholder="{{username}}" required="required" />
        <i class="bi bi-person"></i>
        @if (Email.errors?.['email'] && (Email.dirty || Email.touched)) {
          <div class="form-text text-danger fw-bold">
            {{ userNameErrorMessage }}
          </div>
        }
        @if (Email.errors?.['required'] && (Email.dirty || Email.touched)) {
          <div class="form-text text-danger fw-bold">
            {{ userNameIsRequerid }}
          </div>
        }
      </div>
      <div class="login-input-group">
        <input [type]="showPassword ? 'text' : 'password'" id="pwd" formControlName="pwd" placeholder="{{ password }}"
          required="required" />
          <i class="bi bi-key"></i>

          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>

          @if (Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.dirty || Pwd.touched)) {
            <div class="form-text text-danger fw-bold"
              >
              {{ passwordErrorMessage }}
            </div>
          }
          @if (Pwd.errors?.['required'] && (Pwd.dirty || Pwd.touched)) {
            <div class="form-text text-danger fw-bold">
              {{ passwordIsRequerid }}
            </div>
          }
        </div>

        <div class="container-login-button">
          <button class="login-button" type="submit" [disabled]="loading">
            @if (loading) {
              <output class="spinner-border spinner-border-sm">
                <span class="sr-only">Loading...</span>
              </output>
            }
            {{ signin }}
          </button>
          <button class="login-button mt-2" type="button" [disabled]="loading" (click)="googleLoginSubmitted()">
            <i class="bi bi-google"></i>
            Google
          </button>
        </div>
        @if (error !== '') {
          <div class="alert alert-danger">
            {{ error }}
          </div>
        }
      </form>
      <div class="forgot-password">
        <p>Cambiar <a routerLink="/forgot">Contraseña</a></p>
      </div>
    </div>
  </main>
