<div class="ng13-org-chart-entity">
  @if (hasParent) {
    <div
      class="ng13-org-chart-entity-connector ng13-org-chart-entity-border"
    ></div>
  }
  <ng-template #popTitle><b>{{data?.userName || data?.user_name}}</b></ng-template>
  <ng-template #popContent><b>Vol Izq:</b> 0 <br> <b>Vol Der:</b>: 0</ng-template>
  <button
    (click)="onloadFamilyTree(data?.id)"
    [class]="data?.cssClass"
    class="ng13-org-chart-entity-box"
    [style]="data?.css"
    type="button"
    triggers="mouseenter:mouseleave"
    [ngbPopover]="popContent"
    [popoverTitle]="popTitle"
    >
    <ng-container
      *ngTemplateOutlet="nodeTemplate; context: { $implicit: data }"
      >
    </ng-container>
  </button>
  @if (data?.children?.length && !data?.hideChildren) {
    <div
      class="ng13-org-chart-entity-connector ng13-org-chart-entity-border"
    ></div>
  }
</div>

@if (!data?.hideChildren) {
  <div class="ng13-org-chart-container">
    @for (data of data?.children; track data; let isFirst = $first; let isLast = $last) {
      <div class="ng13-org-chart-sub-container">
        <div class="ng13-org-chart-connector-container">
          <div
            class="ng13-org-chart-connector ng13-org-chart-entity-border"
            [style.border-color]="isFirst ? 'transparent' : ''"
          ></div>
          <div class="ng13-org-chart-entity-border"></div>
          <div
            class="ng13-org-chart-connector ng13-org-chart-entity-border"
            [style.border-color]="isLast ? 'transparent' : ''"
          ></div>
        </div>
        <app-binary-genealogical-tree
          [data]="data"
          [hasParent]="true"
          [nodeTemplate]="nodeTemplate"
          (loadFamilyTree)="onloadFamilyTree($event)"
          >
        </app-binary-genealogical-tree>
      </div>
    }
  </div>
}
<div class="ng13-org-chart-zoom-button-container">
  <ng-content select="[zoom-button]"></ng-content>
</div>

