<div class="ng13-org-chart-entity">
  @if (hasParent) {
    <div class="ng13-org-chart-entity-connector ng13-org-chart-entity-border"></div>
  }
  <ng-template #popTitle>
    <b>{{data?.userName || data?.userName}}</b>
    <br>
      @if (data?.qualificationCount && data.qualificationCount > 0) {
        <b>Circuito: {{data?.qualificationCount}}</b>
      }
    </ng-template>
    <ng-template #popContent>
    </ng-template>
    <button (click)="onloadFamilyTree(data?.id)" [class]="data?.cssClass" class="ng13-org-chart-entity-box"
      [style]="data?.css" type="button" triggers="mouseenter:mouseleave" [ngbPopover]="popContent"
      [popoverTitle]="popTitle">
      <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: data }">
      </ng-container>
    </button>
    @if (data?.children?.length && !data?.hideChildren) {
      <div class="ng13-org-chart-entity-connector ng13-org-chart-entity-border"
      ></div>
    }
  </div>

  @if (data?.children && data.children.length > 0 && !data?.hideChildren) {
    <div class="ng13-org-chart-container">
      @for (childNode of data?.children; track childNode; let isFirst = $first; let isLast = $last) {
        <div class="ng13-org-chart-sub-container">
          <div class="ng13-org-chart-connector-container">
            <div class="ng13-org-chart-connector ng13-org-chart-entity-border"
            [style.border-color]="isFirst ? 'transparent' : ''"></div>
            <div class="ng13-org-chart-entity-border"></div>
            <div class="ng13-org-chart-connector ng13-org-chart-entity-border"
            [style.border-color]="isLast ? 'transparent' : ''"></div>
          </div>
          <app-client-unilevel-tree-component [data]="childNode" [hasParent]="true" [nodeTemplate]="nodeTemplate"
            (loadFamilyTree)="onloadFamilyTree($event)">
          </app-client-unilevel-tree-component>
        </div>
      }
    </div>
  }
  <div class="ng13-org-chart-zoom-button-container">
    <ng-content select="[zoom-button]"></ng-content>
  </div>