<ng-template #createTicketModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Crear Ticket
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body create-admin-modal-body">
    <form class="register-form" autocomplete="off" [formGroup]="createTicketForm" (ngSubmit)="createTicket()">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <div class="form-group">
            <label for="subject_ticket">
              Asunto
              <span class="text-danger">*</span>
            </label>
            <input type="text" id="subject_ticket" class="form-control" placeholder="Asunto"
                   formControlName="subject_ticket" [ngClass]="{
                     'is-invalid': createTicketForm.get('subject_ticket').invalid && (createTicketForm.get('subject_ticket').touched || submitted)
                   }" />
            <div class="invalid-feedback">
              El asunto es obligatorio.
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <div class="form-group">
            <label for="category_ticket">
              Categoría
              <span class="text-danger">*</span>
            </label>
            <select id="category_ticket" class="form-control" formControlName="category" [ngClass]="{
                      'is-invalid': createTicketForm.get('category').invalid && (createTicketForm.get('category').touched || submitted)
                    }">
              <option value="">Seleccione una opción</option>
              <option *ngFor="let item of categories" [value]="item.id">
                {{ item.categoryName }}
              </option>
            </select>
            <div class="invalid-feedback">
              Debe seleccionar una categoría.
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <div class="form-group">
            <label for="userSearch">
              Buscar Usuario
              <span class="text-danger">*</span>
            </label>
            <input placeholder="Escriba el username" type="text" id="userSearch" class="form-control"
                   formControlName="userSearch"
                   (input)="updateFilteredUsers()"
                   (focus)="showSuggestions = true"
                   (blur)="hideSuggestions()"
                   [ngClass]="{
                     'is-invalid': createTicketForm.get('userId').invalid && (createTicketForm.get('userSearch').touched || submitted)
                   }">
            <div class="invalid-feedback">
              Debe seleccionar un usuario de la lista.
            </div>
            <ul *ngIf="showSuggestions && filteredUsers.length" class="suggestions-list">
              <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
                {{ user.user_name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div class="form-group">
            <label for="description">
              Explicación
              <span class="text-danger">*</span>
            </label>
            <textarea id="description" class="form-control custom-control" placeholder="Explicación"
                      formControlName="description" [ngClass]="{
                        'is-invalid': createTicketForm.get('description').invalid && (createTicketForm.get('description').touched || submitted)
                      }"></textarea>
            <div class="invalid-feedback" *ngIf="createTicketForm.get('description').errors?.required">
              La descripción es requerida.
            </div>
            <div class="invalid-feedback" *ngIf="createTicketForm.get('description').errors?.maxlength">
              La descripción no puede exceder los 255 caracteres.
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div class="form-group">
            <label>Agregar Imagen</label>
            <ngx-dropzone (change)="onFileSelected($event)" [accept]="'image/*'" [multiple]="true">
              <ngx-dropzone-label>Drop it!</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files let i = index;" [removable]="true" (removed)="deleteFile(i)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          Enviar
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
          Descartar
        </button>
      </div>
    </form>
  </div>
</ng-template>
